target/
local/
sandbox/
.git/

# Eclipse, Netbeans and IntelliJ files
/.*
!.gitignore
/nbproject
/*.ipr
/*.iws
/*.iml

# Repository wide ignore mac DS_Store files
.DS_Store

# additional stuff
.metadata/
bin/
.settings/
*.swp
.scala_dependencies
*.class
bin/

/lib/specs_2.8.1-1.6.6.jar

*.iml

*.iml

*.iml

*.iml

*.iml

*.iml

plugins/org.eclipse.bpmn2.modeler.runtime.jboss.jbpm5/org.eclipse.bpmn2.modeler.runtime.jboss.jbpm5.iml

plugins/org.eclipse.bpmn2.modeler.help/org.eclipse.bpmn2.modeler.help.iml

plugins/org.eclipse.bpmn2.modeler.core/org.eclipse.bpmn2.modeler.core.iml

features/org.eclipse.bpmn2.modeler/org.eclipse.bpmn2.modeler.iml

features/org.eclipse.bpmn2.modeler.examples/org.eclipse.bpmn2.modeler.examples.iml

examples/plugins/org.eclipse.bpmn2.modeler.examples.modelreader/org.eclipse.bpmn2.modeler.examples.modelreader.iml

examples/plugins/org.eclipse.bpmn2.modeler.examples.plugins.parent.iml

examples/plugins/org.eclipse.bpmn2.modeler.examples.dynamic/org.eclipse.bpmn2.modeler.examples.dynamic.iml

features/org.eclipse.bpmn2.modeler.updatesite/org.eclipse.bpmn2.modeler.updatesite.iml

examples/projects/org.eclipse.bpmn2.modeler.examples.projects.modelreader.iml

examples/plugins/org.eclipse.bpmn2.modeler.examples.datatypes/org.eclipse.bpmn2.modeler.examples.datatypes.iml

features/org.eclipse.bpmn2.modeler.sdk/org.eclipse.bpmn2.modeler.sdk.iml

examples/plugins/org.eclipse.bpmn2.modeler.examples.customtask/org.eclipse.bpmn2.modeler.examples.customtask.iml

examples/org.eclipse.bpmn2.modeler.examples.parent.iml

features/org.eclipse.bpmn2.modeler.runtime.jboss/org.eclipse.bpmn2.modeler.runtime.jboss.iml

parent/org.eclipse.bpmn2.modeler.parent.iml

features/org.eclipse.bpmn2.modeler.features.parent.iml

features/org.eclipse.bpmn2.modeler.wsil/org.eclipse.bpmn2.modeler.wsil (1) (org.eclipse.bpmn2.modeler.features).iml

plugins/org.eclipse.bpmn2.modeler.plugins.parent.iml

plugins/org.eclipse.bpmn2.modeler.wsil/org.eclipse.bpmn2.modeler.wsil (2) (org.eclipse.bpmn2.modeler.plugins).iml
